@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bar {
  background-color: #222e50;
}

.input-box {
  margin: 2px 0 2px 0;
  padding: 4px;
  width: 100%;
  border-radius: 0.25rem;
  color: rgb(82, 82, 83);
}

.input-box-ve {
  margin: 2px 0 2px 0;
  padding: 4px;
  width: 100%;
  border-bottom: 3px solid rgb(151, 183, 255);
  color: rgb(82, 82, 83);
  outline: none;
}

.second-col {
  overflow-y: scroll;
}


.heading {
  background: linear-gradient(89.87deg, #9747ff 0.17%, #12ffe3 132.64%);
  background-clip: text;
  color: transparent;
}
